<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Información del Clima</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="styles1.css">
</head>
<body>
    <h1>Información del Clima</h1>
    
    <form method="POST" action="/">
        <label for="ciudad">Ingrese una ciudad o código IATA: </label>
        <input type="text" id="ciudad" name="ciudad" required>
        <button type="submit">Obtener Clima</button>
    </form>
    
    {% if temperatura %}
        <p>Ciudad: {{ ciudad }}</p>
        <p>Temperatura: {{ temperatura }} °C</p>
        <p>Humedad: {{ humedad }}%</p>
        <p>Descripción del clima: {{ descripcion_clima }}</p>
    {% endif %}
</body>
</html>